.home-List_Links_01 {
	& a {
		display: inline-block;
		padding: 3px;
		border: 1px solid transparent;
		&:hover {
			border-color: #dddfe2;
			border-radius: 2px;
			background-color: #f6f7f9;
		}
		&:active {
			transform: scale(.98);
		}
	}
}
