doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title 町のケーキ屋さん INOUE
		link(rel="stylesheet", href="/css/base.css")
		link(rel="stylesheet", href="/css/hfe8.css")

	body
		div.home-Hero
			div.home-Hero_Image
				img.js-Fallback_objectFit(src="/images/pic_index_07.jpg", alt="")
			div.home-Hero_Logo
				img(src="/images/logo_site.png", alt="町のケーキ屋さん INOUE")

		header.st-Header
			div.st-Header_Inner
				h1.st-Header_Shopname
					span.st-Header_ShopnameAddition ケーキ屋さん
					|
					| INOUE
				nav.st-Nav
					ul.st-Nav_List
						li.st-Nav_Item: a(href="#") 商品一覧
						li.st-Nav_Item: a(href="#") こだわり
						li.st-Nav_Item: a(href="#") アクセス

		main.st-Contents
			section.home-Introduction
				div.cmn-ContentsContainer
					h2.home-Introduction_Title 町のケーキ屋さん INOUE
					p.home-Introduction_Text
						| 広島市西区でケーキを作り続けて30年。
						br
						| こだわった「希少糖」と「たまご」を使った安心してお召し上がりいただけるケーキです。
						br
						| お持ち帰りだけでなく、カフェスペースでイートインもしていただけます。広島市西区でケーキを作り続けて30年。
						br
						| こだわった「希少糖」と「たまご」を使った安心してお召し上がりいただけるケーキです。
						br
						| お持ち帰りだけでなく、カフェスペースでイートインもしていただけます。

			section.home-Products
				h2.home-Products_Title 人気商品
				div.home-Products_Items
					section.home-Products_Item
						div.home-Products_NameContainer
							h3.home-Products_Name いちごのケーキ
							div.home-Products_Photo
								img.js-Fallback_objectFit(src="/images/pic_index_03.jpg", alt="写真：イチゴのケーキ")
						p.home-Products_RecommendMsg
							| 大きないちごがのったケーキ。いちごの酸味とクリームの甘さがベストマッチ。大きないちごがのったケーキ。いちごの酸味とクリームの甘さがベストマッチ。
					section.home-Products_Item.home-Products_RecommendItem
						div.home-Products_NameContainer
							h3.home-Products_Name アップルパイ
							div.home-Products_Photo
								img.js-Fallback_objectFit(src="/images/pic_index_02.jpg", alt="写真：アップルパイ")
						p.home-Products_RecommendMsg
							| 当店人気No.1のアップルパイ。りんごの自然な甘みを最大限まで引き出した、香り豊かなアップルパイです。手土産にもってこいなちょうどいい大きさ。当店が自信を持ってお贈りする格別の一品です。当店人気No.1のアップルパイ。りんごの自然な甘みを最大限まで引き出した、香り豊かなアップルパイです。手土産にもってこいなちょうどいい大きさ。当店が自信を持ってお贈りする格別の一品です。
					section.home-Products_Item
						div.home-Products_NameContainer
							h3.home-Products_Name パウンドケーキ
							div.home-Products_Photo
								img.js-Fallback_objectFit(src="/images/pic_index_04.jpg", alt="写真：パウンドケーキ")
						p.home-Products_RecommendMsg
							| 10種類のフルーツがいっぱい入ったパウンドケーキ。バターの香りとフルーツの甘みとの絶妙な味わいをお楽しみください。10種類のフルーツがいっぱい入ったパウンドケーキ。バターの香りとフルーツの甘みとの絶妙な味わいをお楽しみください。
				div.home-Products_Link
					a(href="#") 商品一覧へ

			section.home-Points
				div.cmn-ContentsContainer
					h2.home-Points_SectionTitle こだわり
					section.home-Points_Unit
						div.cmn-LayoutImage.cmn-LayoutImageL1
							div.cmn-LayoutImage_Text.home-Points_LayoutText
								h3.home-Points_Title こだわりの希少糖
								div.home-Points_Body
									p 当店では、希少糖を使った体に優しいケーキを作っています。お子さんや妊娠中の方などにも安心で美味しいケーキをお届けします。当店では、希少糖を使った体に優しいケーキを作っています。お子さんや妊娠中の方などにも安心で美味しいケーキをお届けします。当店では、希少糖を使った体に優しいケーキを作っています。お子さんや妊娠中の方などにも安心で美味しいケーキをお届けします。当店では、希少糖を使った体に優しいケーキを作っています。お子さんや妊娠中の方などにも安心で美味しいケーキをお届けします。
							div.cmn-LayoutImage_Image.home-Points_LayoutImage
								img(src="/images/pic_index_05.jpg", alt="")
						p 希少糖とは、ぶどう糖などの自然界に大量に存在する糖と違い、文字通り自然界に存在量の少ない希少な糖のことで、約50種類以上の希少糖が確認されています。希少糖は砂糖の７割程度の甘味がありながら、カロリーはほぼゼロ。さらに、「食後の血糖値上昇を緩やかにする」、「内臓脂肪の蓄積を抑える」といった研究結果が報告されています。
					section.home-Points_Unit
						div.cmn-LayoutImage.cmn-LayoutImageR1
							div.cmn-LayoutImage_Text.home-Points_LayoutText
								h3.home-Points_Title こだわりの吉宗の卵
								div.home-Points_Body
									p 広島の純国産鶏から生まれる吉宗の卵を使用し安心、安全なケーキをお届けします。広島の純国産鶏から生まれる吉宗の卵を使用し安心、安全なケーキをお届けします。広島の純国産鶏から生まれる吉宗の卵を使用し安心、安全なケーキをお届けします。広島の純国産鶏から生まれる吉宗の卵を使用し安心、安全なケーキをお届けします。広島の純国産鶏から生まれる吉宗の卵を使用し安心、安全なケーキをお届けします。広島の純国産鶏から生まれる吉宗の卵を使用し安心、安全なケーキをお届けします。
							div.cmn-LayoutImage_Image.home-Points_LayoutImage
								img(src="/images/pic_index_06.jpg", alt="")
						p 国内自給率96％の鶏卵ですが、純国産鶏は6％しかいません。そんな、純国産鶏もみじの卵は外国産鶏種の卵と比べ、卵黄が大きく味にコクがあります。生食文化のある日本人に最も適した卵と言われています。ビタミン添加等栄養強化卵の付加価値卵は市場に沢山ありますが、鶏種による付加価値卵は限られます。

			section.home-News
				div.cmn-ContentsContainer
					h2.home-News_SectionTitle お知らせ
					ul.home-News_List
						li.home-News_Entry
							time.home-News_Pubdate(datetime="2017-04-01") 2017.04.01
							a.home-News_Title(href="#") 季節限定真っ赤ないちごのケーキ販売開始
						li.home-News_Entry
							time.home-News_Pubdate(datetime="2017-03-28") 2017.03.28
							a.home-News_Title(href="#") 臨時休業のお知らせ
						li.home-News_Entry
							time.home-News_Pubdate(datetime="2017-03-15") 2017.03.15
							a.home-News_Title(href="#") 新作ケーキ試食会のお知らせ
						li.home-News_Entry
							time.home-News_Pubdate(datetime="2017-03-03") 2017.03.03
							a.home-News_Title(href="#") ひな祭り限定ケーキ販売
						li.home-News_Entry
							time.home-News_Pubdate(datetime="2017-03-01") 2017.03.01
							a.home-News_Title(href="#") サイトを公開しました
						li.home-News_Entry
							time.home-News_Pubdate(datetime="2088-08-28") 2088.08.28
							a.home-News_Title(href="#") この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。

		footer.st-Footer
			small.st-Footer_Copyright &copy; 2017 INOUE.

		script(src="/js/components/modernizr-custom.js")
		script(src="/js/components/polyfill.min.js")
		script(src="/js/run.js")
