doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		title Skyward Design New Boilerplate
	body
		h1.home-Title Skyward Design New Boilerplate
		p 新しいBoilerplateを研究中です。
		h2 SwiftでFizzBuzz
		pre
			| (1...100).map { switch ($0 % 3, $0 % 5) {
			|     case (0, 0): return "Fizz Buzz"
			|     case (0, _): return "Fizz"
			|     case (_, 0): return "Buzz"
			|     case (_, _): return "\($0)"
			| } }.forEach { print($0) }
